<html>
<center><h1> This is Apache Web Server Running on {{ ansible_distribution }} Machine.</h1>
</center>
<body>
<h1> The domain name of this machine is {{ ansible_fqdn }} </h1>
<h2>The Host Name of This Machine is {{ ansible_hostname }} </h2>
<h3>The IP Address of this machine is {{ ansible_default_ipv4.address }} </h3>
 </body>
</html>
