*-*-*-*-*-*-*-*-*-*- WELCOME TO {{ ansible_distribution }} MACHINE -*-*-*-*-*-*-*-*-*
THE IP ADDRESS OF THIS MACHINE IS {{ ansible_default_ipv4.address }}.
THE HOSTNAME IS {{ ansible_fqdn }}.
+-+-+-+-+-+-+-+-+-+ ENJOY YOU'R DAY +-+-+-++-+-++--+-+-+-+-
